* {
  padding: 0px;
  margin: 0px;
}

body {
  text-align: center;
  background-color: rgb(61, 122, 253);
  font-size: 20px;
}

header {
  color: white;
}

section {
  text-align: left;
  margin: auto;
  width: 500px;
  background-color: white;
  border-radius: 10px;
}

.contador {
  display: block;
  margin: 10px;
  padding: 10px;
}

.contar {
  margin: 10px;
  padding: 5px;
}

footer {
  color: white;
}
